{% extends "base.html" %}
{% load static %}

{% comment %} by load static and use static function in href will generate the path to the css file {% endcomment %}
{% block css_file %}
    <link rel='stylesheet' href='{% static "challenges/challenges.css" %}'/>
{% endblock %}

{% block page_title %}Challenges {% endblock %}

{% block content %}
{% include 'challenges/includes/header.html' with active_page='index page' %}
    <ul>
      {% for month in months %}
      {% comment %} url is a build in tag, it calls the 'monthly-challenge' url from urlpatterns, and give month as an argument {% endcomment %}
      <li><a href={%url 'monthly-challenge' month%}>{{month|title}}</a></li>
      {% endfor %}
    </ul>
{% endblock %}
